<!-- templates/registration/password_change_form.html -->
{% extends "base.html" %}
{% block content %}

<style>
    form{
        width: 500px;
        height: auto;
        padding: 20px 20px 20px 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 50px auto;
        border-radius: 10px;
    }
    form p{
        text-align: center;
    }

    form h3{
        text-align: center
    }
    button{
        width: 50%;
        align-items: center;
    }
</style>
<div >
<h2>Change Your Password</h2>
</div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" style="width:100%" type="submit">Send OTP</button>
</form>
{% endblock %}
