<!-- templates/registration/password_change_form.html -->
{% extends "base.html" %}
{% block content %}

<style>
    form{
        width: 500px;
        height: auto;
        padding: 20px 20px 20px 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 50px auto;
        border-radius: 10px;
    }
    form p{
        text-align: center;
    }

    form h3{
        text-align: center
    }
    button{
        width: 50%;
        align-items: center;
    }
</style>
<!-- password_reset_complete.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete</title>
</head>
<body>
    <h2>Password Reset Complete</h2>
    <p>Your password has been successfully reset. You can now <a href="{% url 'login' %}">login</a> with your new password.</p>
</body>
</html>

{% endblock %}
