{% extends 'main/base.html' %}

{% block title %}Booking Status{% endblock %}
{% block content %}
    <h2>Booking Status</h2>
    
        <ul class="messages">
            {% for message in messages %}
              <div class="alert alert-{{message.tags}}" role="alert" style="margin-top: 30px">
                <h5>{{message}}</h5>
              </div>
            {% endfor %}
        </ul>

        <h2>Invoice</h2>
        <p><a href="{% url 'generate_pdf' %}">Download Payment PDF</a></p>
    


{% endblock content %}

