{% extends 'main/base.html' %}

{% block title %}Booking Status{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<h1>Feedback List</h1>

{% for feedback in feedbacks %}
<div class="container mt-5">
    <div class="row">
            <div class="col-md-4 mt-3">
                <div class="card">
                    <div class="card-header">
                        {{ feedback.user.user.username }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Rating: {{ feedback.rating }}</h5>
                        <p class="card-text">{{ feedback.comments }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col">
                <p>No feedback submitted yet.</p>
            </div>
    </div>
</div>
{% endfor %}

<div class="mt-3">
    {% if feedbacks.has_other_pages %}
        <ul class="pagination">
            {% if feedbacks.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ feedbacks.previous_page_number }}">Previous</a></li>
            {% endif %}
            
            {% if feedbacks.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ feedbacks.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ feedbacks.paginator.num_pages }}">Last &raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}

    <div class="mt-4">
        <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
    </div>
</div>
{% endblock content %}              