{%extends 'main/base.html'%}
{%block title%}Booking Details{%endblock%}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Booking Details</h2>
          <p class="card-text">
            <strong>Route: </strong>
            {{ booking.schedule.route.origin }} to {{ booking.schedule.route.destination }}
          </p>
          <p class="card-text">
            <strong>Departure Time: </strong>
            {{ booking.schedule.departureTime }}
          </p>
          <p class="card-text">
            <strong>Arrival Time: </strong>
            {{ booking.schedule.arrivalTime }}
          </p>
          <p class="card-text">
            <strong>Seat Number: </strong>
            {{ booking.seatNumber }}
          </p>
          <p class="card-text">
            <strong>Booking Date: </strong>
            {{ booking.bookingDate }}
          </p>
          <p class="card-text">
            <strong>Status: </strong>
            {{ booking.status }}
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Payment Details</h2>
          <p class="card-text">
            <strong>Total Price: </strong>
            ${{ booking.totalPrice }}
          </p>
          <p class="card-text">
            <strong>Payment Method: </strong>
            {{ booking.payment.paymentMethod }}
          </p>
          <p class="card-text">
            <strong>Payment Date: </strong>
            {{ booking.payment.paymentDate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
